*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 50px;
    border-radius: 50%;
}

/* 
----------------------------------------------
----------------MAIN SECTION------------------
----------------------------------------------
*/

.container{
    height: 100vh;
    background-color: #dadbd3;
}

.container-top-bg{
    display: flex;
    justify-content: center;
    background-color: #009688;
    height: 15%;
}

.app{
    display: flex;
    margin-top: 30px;
    background-color: #eaeaea;
    height: 850px;
    width: 1250px;
}

/* 
----------------------------------------------
----------------LEFT SECTION------------------
----------------------------------------------
*/

.app-left{
    width: 500px;
    height: 100%;
    border: 1px solid black;
}

.app-left-top{
    width: 100%;
    height: 200px;
}

/* 
------Left-top 1/3
------My-self
*/

.app-left-top-self{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 70px;
    border: 1px solid violet;
}

.alt-self-profile{
    display: flex;
    align-items: center;
}

.alt-self-icons i{
    color: #b1b1b1;
    transform: scale(150%);
    margin: 0px 10px;
}

.alt-self-icons i:hover{
    color: #8a8a8a;
    transform: scale(150%);
    cursor: pointer;
}

/* 
------Left-top 2/3
------Notify
*/

.app-left-top-notify{
    height: 70px;
    background-color: #8edafc;
}

/* 
------Left-top 3/3
------Search
*/

.app-left-top-search{
    height: 60px;
    border: 1px solid violet;
}


/* 
----------------------------------------------
----------------RIGHT SECTION-----------------
----------------------------------------------
*/

.app-right{
    width: 750px;
    height: 100%;
    background-image: url("../img/mine.jpg");
    border: 1px solid black;
}