<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Link to the CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

    <div class="container">
        <div class="container-top-bg">
            <div class="app">
                <div class="app-left">
                    <div class="app-left-top">
                        <div class="app-left-top-self">
                            <div class="alt-self-profile">
                                <img src="img/avatar_io.jpg" alt="my-avatar">
                                <span>Sofia</span>
                            </div>
                            <div class="alt-self-icons">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="app-left-top-notify">
                            <div class="alt-notify-icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="alt-notify-text">
                                <span>Ricevi notifiche di nuovi messaggi</span>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div class="app-left-top-search">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input @keyup="searchContacts" v-model="searchInputText" type="text" size="1" placeholder="Cerca o inizia una nuova chat" name="" id="">
                        </div>
                    </div>
                    <div class="app-left-bottom">
                        <ul>
                            <li v-for="(item, index) in contacts" @click="elementActive = index" :class="{ searchVue: item.visible, searchVue: !item.visible }">
                                <div class="alb-friend-img">
                                    <img :src="item.img" alt="">
                                </div>
                                <div class="alb-friend-desc">
                                    <span>{{ item.name }}</span>
                                    <span>Ultimo messaggio inviato</span>
                                </div>
                                <div class="alb-friend-date">
                                    <span>12:00</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="app-right">
                    <div class="chat-active">
                        <div class="chat-info">
                            <div class="chat-info-img">
                                <img :src="contacts[elementActive].img" alt="">
                            </div>
                            <div class="chat-info-desc">
                                <span>{{contacts[elementActive].name}}</span>
                                <span>Ultimo accesso oggi alle 12:00</span>
                            </div>
                        </div>
                        <div class="chat-active-icon">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="chat-conversation">
                        <div class="chat-row clearfix" v-for="(item, index) in contacts[elementActive].msg">
                            <div class="chatting" :class="{ myMsg: item.status, yourMsg: !item.status }">
                                <span id="text-content">{{ item.textMsg }}</span>
                                <i @click="deleteWindow(index)" class="fas fa-angle-down">
                                    <div id="optionContainer" v-show="item.showDelete">
                                        <div id="optionContainerFlex">
                                            <span>Info message</span>
                                            <hr>
                                            <span @click="deleteMessage(index), deleteWindow(index)">Delete message</span>
                                        </div>
                                    </div>
                                </i>
                                <span id="date-content">{{ item.timeMsg }}</span>
                            </div>
                        </div>                
                    </div>
                    <div class="chat-text-area">
                        <i class="far fa-smile"></i>
                        <input @keydown.enter='sendMessage' v-model.trim='newMessage' type="text" size="1" placeholder="Scrivi un messaggio intimidatorio" name="" id="">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Link to the Luxon 2.3.1 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <!-- Link to the Vue's CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Link to the JS script -->
    <script src="js/main.js"></script>
    <!-- Link to the Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>